<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ site.github.url }}">Joomla Mega Menu Goes Here</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.github.url }}/about.html">About MCAR</a></li>
            <li><a href="{{ site.github.url }}/bod.html">Board of Directors</a></li>
            <li><a href="{{ site.github.url }}/staff.html">Staff</a></li>
            <li><a href="#">Committee Rosters</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Find an MCAR REALTOR&reg;</a></li>
            <li><a href="#">Find an MCAR Affiliate</a></li>
            <li><a href="#">Contact and Hours</a></li>
            <li><a href="#">MCAR Bylaws and Policy Manual</a></li>
            <li><a href="#">About Monterey County</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">News<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.github.url }}/news.html">MCAR News</a></li>
            <li><a href="#">MLS Updates</a></li>
            <li><a href="#">Government Affairs Blog</a></li>
            <li><a href="#">News from C.A.R./NAR</a></li>
            <li><a href="#">Event Galleries</a></li>
            <li><a href="#">Videos</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Membership<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.github.url }}/membership.html">Membership</a></li>
            <li><a href="#">Member Benefits</a></li>
            <li><a href="#">MLS Membership Information</a></li>
            <li><a href="#">Membership and MLS Dues Schedule</a></li>
            <li><a href="#">Frequently Asked Questions</a></li>
            <li><a href="#">C.A.R. and NAR Membership Information</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Join MCAR Here!</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Government Affairs<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">REALTOR&reg; Action Fund</li>
            <li><a href="#">Why give to RAF</a></li>
            <li><a href="#">Contribute Here</a></li>
            <li><a href="#">MCAR Major Contributors</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Public Policy</li>
            <li><a href="#">Water Information & Resources</a></li>
            <li><a href="#">Tax Portability</a></li>
            <li><a href="#">Monterey County Transfer Taxes</a></li>
            <li><a href="#">City Requirements</a></li>
            <li><a href="#">Quick Links</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Inside Govt Affairs</li>
            <li><a href="#">LGR Committee</a></li>
            <li><a href="#">IMPAC Trustees</a></li>
            <li><a href="#">LCRC</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dispute Resolution<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.github.url }}/about.html">About Dispute Resolution</a></li>
            <li><a href="#">Mediation & Arbitration</a></li>
            <li><a href="#">File a Grievance</a></li>
          </ul>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
