<nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.github.url }}"><img id="nav-logo" src="{{ site.github.url }}/assets/mcar_logo.png" alt="MCAR"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <button type="submit" class="btn btn-info">Member Login</button>
          </form>
          <form class="navbar-form navbar-right">
            <button type="submit" class="btn btn-info">MLS Login</button>
          </form>
          <form class="navbar-form navbar-right">
            <button type="submit" class="btn btn-info">MCAR Calendar</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
