<row>
  <div class="mcar-module-front col-md-8 col-md-offset-2">

    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#property-search" aria-controls="property-search" role="tab" data-toggle="tab">Search The MLS</a></li>
      <li role="presentation" class=""><a href="#market-data" aria-controls="market-data" role="tab" data-toggle="tab">Market Data</a></li>
      <li role="presentation" class=""><a href="#use-a-realtor" aria-controls="use-a-realtor" role="tab" data-toggle="tab">Use a REALTOR&reg;</a></li>
    </ul>

    <div class="tab-content">

      <div role="tabpanel" class="tab-pane active" id="property-search">
        <form id="prop-srch-form" class="form-inline" action="">
          <h3>Search for Properties</h3>
          <div class="">
            <label for="findProperty"></label>
            <input class="form-control input-lg" type="text" id="findProperty" placeholder="Enter city, address, or MLS ID#">
            <button type="submit" class="btn btn-info btn-lg">Submit</button>
          </div>
        </form>
        <small>Sample MLS Disclaimer: Data herein deemed accurate but not guaranteed</small>
      </div>

      <div role="tabpanel" class="tab-pane" id="market-data">
        <div class="col-md-12">
          <h4>Monterey County Housing Statistics</h4>
          <table class="table">
            <thead>
              <tr>
                <th>City</th>
                <th>Median Price</th>
                <th>Days on Market</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Monterey</td>
                <td>$1,500,000</td>
                <td>55</td>
              </tr>
              <td>Pacific Grove</td>
              <td>$2,500,000</td>
              <td>60</td>
              <tr>
                <td>Seaside</td>
                <td>$1,200,000</td>
                <td>60</td>
              </tr>
            </tbody>
          </table>
          <small><a href="#">...more economic data</a></small>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="use-a-realtor">
        <h3>Why Use a REALTOR&reg;</h3>
      </div>

    </div>

  </div>
</row>
