<h3>Consumer Guides for Real Estate in Monterey County</h3>
<div class="row">
  <div class="col-md-12">
    <h4>Buying and Selling: What you need to know</h4>
    <ul>
      <li><a href="#">Guide for Buyers</a></li>
      <li><a href="#">Guide for Sellers</a></li>
      <li><a href="#">Housing Market Data</a></li>
      <li><a href="#">Open Houses Schedule</a></li>
      <li><a href="#">Search MLS Listings</a></li>
      <li><a href="#">Why Use a REALTOR&reg;</a></li>
    </ul>
  </div>
  <div class="col-md-12">
    <h4>Monterey County Housing Statistics</h4>
    <table class="table">
      <thead>
        <tr>
          <th>City</th>
          <th>Median Price</th>
          <th>Days on Market</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Monterey</td>
          <td>$1,500,000</td>
          <td>55</td>
        </tr>
        <td>Pacific Grove</td>
        <td>$2,500,000</td>
        <td>60</td>
        <tr>
          <td>Seaside</td>
          <td>$1,200,000</td>
          <td>60</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
