<h2>Consumer Guides for Real Estate in Monterey County</h2>
<h3>Buying and Selling: What you need to know</h3>
<div class="row">
  <div class="col-md-6">
    <div class="list-group">
      <a class="list-group-item" href="#">Guide for Buyers</a>
      <a class="list-group-item" href="#">Guide for Sellers</a>
      <a class="list-group-item" href="#">Housing Market Data</a>
    </div>
  </div>
  <div class="col-md-6">
    <ul class="list-group">
      <a class="list-group-item" href="#">Open Houses Schedule</a>
      <a class="list-group-item" href="#">Search MLS Listings</a>
      <a class="list-group-item" href="#">Why Use a REALTOR&reg;</a>
    </ul>
  </div>
</div>
