<!-- Random Content3 with people -->
<h4>RAF Major Contributors</h4>
<div>
  <p>The REALTOR® Action Fund raises money to advance the goals of our REALTOR® political action committees (PACs) at the local, state, and federal levels of government.</p>
  <div class="row">
    <div class="col-md-12">
      <img src="{{ site.baseurl }}assets/avatar.gif" alt="">
      <h4>NAR Hall of Fame</h4>
    </div>
    <div class="col-md-12">
      <img src="{{ site.baseurl }}assets/avatar.gif" alt="">
      <h4>NAR Hall of Fame</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img src="{{ site.baseurl }}assets/avatar.gif" alt="">
      <h4>NAR Hall of Fame</h4>
    </div>
    <div class="col-md-12">
      <img src="{{ site.baseurl }}assets/avatar.gif" alt="">
      <h4>NAR Hall of Fame</h4>
    </div>
  </div>
</div>
