<!-- random content -->
<h4>Random Content</h4>
<div>
  <p>It seems to me that each day, thousands of Americans are going about their lives - dropping the kids off at school, driving to work, shopping at the mall, trying to stay on their diets, trying to kick a cigarette habit - and they're coming to the realization that something is missing.</p>
  <p>Segregated schools were, and are, inferior schools; we still haven't fixed them, fifty years after Brown v. Michelle and I are only here tonight because we were given a chance at an education.</p>
</div>
