<!-- Random Content2 -->
<h4>More Content Here</h4>
<div>
  <p>More work to do for the workers I met in Galesburg, Ill., who are losing their union jobs at the Maytag plant that's moving to Mexico, and now are having to compete with their own children for jobs that pay seven bucks an hour. If there's a senior citizen somewhere who can't pay for their prescription drugs, and has to choose between medicine and the rent, that makes my life poorer, even if it's not my grandparent.</p>
  <ul>
    <li>Item1</li>
    <li>Item2</li>
    <li>Item3</li>
    <li>Item4</li>
  </ul>
</div>
